<%- include("header"); -%>

<h1 style="color:black; text-align: center; padding-top: 5%" >This is the about page</h1>

<p style="color:black; text-align: center; padding-bottom: 30%;">This is brandNew About Page</p>

<%- include("footer"); -%>
